body {
  background-color: black;
  color: white;
  font-family: Gotham Book;
  font-size: 32px;
  line-height: 32px;
  .floatedTable {float:left;border:2px solid #B87333;width:48%}
  .paddedTable {float:left;border:2px solid #000;width:2%}
}
